name: Deploy to Kubernetes

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Create credentials file
        run: |
          echo '${{ secrets.GCP_AUTH_KEY }}' > /tmp/gcp-key.json
      
      - name: Authenticate to Google Cloud
        run: |
          gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
          gcloud config set project hopeful-keep-480204-e0
          gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
    
      - name: Build Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/hopeful-keep-480204-e0/uwb/uwb-app:latest .
    
      - name: Push image
        run: |
          docker push us-central1-docker.pkg.dev/hopeful-keep-480204-e0/uwb/uwb-app:latest

      - name: Update app files
        uses: appleboy/scp-action@v0.1.5
        with:
            host: ${{ secrets.SERVER_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            passphrase: ${{ secrets.SSH_PASSPHRASE }}
            source: "k8s/*"
            target: "~/app/"
      
      - name: SSH into VM and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            export KUBECONFIG=/home/${{ secrets.SSH_USER }}/.kube/config
      
            echo "Checking Kubernetes cluster..."
            kubectl cluster-info
            kubectl get nodes
      
            cd ~/app
            kubectl apply -f k8s/deployment.yaml --validate=false
            kubectl apply -f k8s/service.yaml --validate=false
            kubectl rollout status deployment/uwb-app --timeout=120s
